/* styles.css */

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
    background-color: orange;
    color: black;
    padding: 20px;
}

h1 {
  text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#treeInput 
{
  margin-bottom: 20px;
  text-align: center;
    font-size: 26px;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 15px;
    width: 350px;
}

#searchbutton {
  padding: 10px 20px;
    font-size: 26px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
